body {
    display: flex;
    justify-content: center;
    background-color: #0c2340;
    margin: 20px;
    color: white;
    font-family: Consolas,monaco,monospace; 
}
#outputArea {
    background-color: #c0c0c0;
}
#machineOutputArea{
        background-color: #c0c0c0;
}
label {
    padding: 10px 0px;
}
.btn {
    margin: 20px 20px 0px 20px;
}
#input {
    text-align: center;
    padding: 0px 20px;
}
#output {
    text-align: center;
    padding: 0px 20px;
}
#inputFile {
    display: block;
}
#machineCodeLabel {
    padding: 24px 0px 10px 0px;
}
